@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Open+Sans:wght@400;700&display=swap');

h1 {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  color: white;
}

h2 {
  font-size: 1em;
  margin: 10px;
  font-family: "Fira Sans", sans-serif;
  color: white;
}

p {
  font-size: 1.75vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 700;
}

body {
  margin: 0;
}

.container {
  position: absolute;
  right: 1vw;
  top: 1.5vw;
}

.item {
  position: absolute;
  right: 0;
  white-space: nowrap;
}

#logo-container {
  opacity: 0%;
  transition: all 1s ease;
}

#name-container {
  opacity: 0%;
  transition: all 1s ease;
}

#link-container {
  opacity: 0%;
  transition: all 1s ease;
}


.logo {
  width: 6vh;
  height: 6vh;
  background-image: url("logo.png");
  background-size: cover;
  background-position: center;
}
